        header {
            grid-area: header;
            background-color: #baa474;
		border-radius: 15%;
		padding: 5%;
        }

        nav {
            grid-area: nav;
            background: url("images/waves.jpg");
		background-size: cover;
		border-radius: 15%;
		padding: 5%;
		align-content: center;
  	}

	body {
		background: #e1f7f9;
	}

        main {
            grid-area: main;
            background-color: #91d4cc;
		border-radius: 15%;
		padding: 5%;
        }

	img {
		max-width: 100%;
	}


	figure {
		margin: .5em;
		width: 45%;
		min-width: 250px;
		border-radius: 50%;
	}

        .aside1 {
            grid-area: aside1;
            background-color: #f4d3a5;
		border-radius: 15%;
		padding: 5%;
        }
		
        footer {
            grid-area: footer;
            background: url("images/sand.jpg");
		border-radius: 15%;
		padding: 5%;
        }

        .grid-container {
            display: grid;
            grid-template-areas:
                'header header header header header header'
		'nav nav nav nav nav nav'
                'main main main main main aside1'
                'main main main main main aside1'
                'footer footer footer footer footer footer';
            grid-gap: .5em;
			max-width: 62em; /* GIVE CONTAINER A WIDTH AND MARGINS IF YOU DO NOT WANT FULL SCREEN */
			margin: auto;
	}

	/*aight let's get a lil fancy w/ the nav bar*/

	ul {
		list-style-type: none;
 		margin: 0;
  		padding: 0;
 		overflow: hidden;
  		background-color: #7fa49c;
	}

	li {
  		float: left;
	}

	li a {
  		display: block;
  		color: #e1f7f9;
  		text-align: center;
  		padding: 14px 16px;
  		text-decoration: none;
		border-right: 1px solid #e1f7f9;
	}

	li a:hover {
 		background-color: #86b7b9;
	}

	.active {
 		background-color: #809ba1;
	}

/*global text things, idk if it'll work*/

	h1,h2,h3 {
		text-align: center;
		font-family: "Poppins"; sans-serif;
	}

	p {
		text-align: left;
		text-indent: 10%;
		font-family: "Poppins"; sans-serif;

/*figuring out the font*/
		
	@font-face: { 
		font-family: "futura handwritten";
		src: url("images/futurahandwritten.tff");
	}

	html: {
		font-family: "futura handwritten"; sans-serif;
	}
		
		


        /*FIRST BREAK POINT === tablet */
        @media only screen and (max-width : 900px) {
            body {
                background: #c0e6e8;
            }

            .grid-container {
                display: grid;
                grid-template-areas:
                    'nav nav nav nav nav nav'
                    'header header header header header header'
                    'main main main main aside1 aside1' 
                    'footer footer footer footer footer footer';
                grid-gap: .5em;
            }

            ul li {
                display: inline-block;
            }

        }

        /*SECOND BREAK POINT === mobile */
        @media only screen and (max-width : 600px) {

            body {
                background: #e1f7f9;
            }

            .grid-container {
                display: grid;
                grid-template-areas:
                    'nav nav nav nav nav nav'
                    'header header header header header header'
                    'main main main main main main'
                    'aside1 aside1 aside1 aside1 aside1 aside1'
                    'footer footer footer footer footer footer';
                grid-gap: .5em;
            }

            ul li {
                display: inline-block;
            }

        }
