body { 
background: #616161;
max-width: 60em;
margin-left: 80px;
background-image: url("../styles/images/poe-portrait.png");
background-repeat: no-repeat;
background-position: right bottom;
}



div.body {
  border: 8px outset #3c3c3c; 
  background-color: #b4b4b4; text-align: left;
  padding: 25px
} 

h1 {
  color: #F9F9F9;
  text-align:center;
}

h2.author {
  color: #F9F9F9;
  text-align: center;
}

h2.other {
  color: #F9F9F9;
  text-align: center;
}


table, th, td {
  border: 8px solid #ddd;
  text-align: center;
}

table {
border-collapse: collapse;
width: 100%
}

th, td {
padding: 4em;
background-color: #f8f8ff;
}
