/*shared across every page, Jay, get it together*/
body { 
background: #8c8484;
max-width: 60em;
margin-left: 80px;
margin-right: 200px;
background-image: url("../styles/images/poe-portrait.png");
background-repeat: no-repeat;
background-position: right bottom;
}



div.body {
  border: 8px outset #2d2d2d; 
  background-color: #d2c8b6; text-align: left;
  padding: 25px;
  box-sizing: border-box;
} 

h1 {
  color: #F9F9F9;
  text-align:center;
}

h2.author {
  color: #F9F9F9;
  text-align: center;
}

h2.other {
  color: #F9F9F9;
  text-align: left;
}


table, th, td {
  border: 4px solid #2d2d2d;
  text-align: center;
}

table {
border-collapse: collapse;
width: 25%
}

th, td {
padding: 4px;
border-bottom: 1px solid #ddd;
background-color: #d2c8b6;
}
