/*shared across every page, Jay, get it together*/
body { 
background: #8c8484;
max-width: 60em;
margin-left: 80px;
margin-right: 200px;
background-image: url("../styles/images/poe-portrait.png");
background-repeat: no-repeat;
background-position: right bottom;
}

div.body {
  border: 8px outset #2d2d2d; 
  background-color: #d2c8b6; text-align: left;
  padding: 25px;
  box-sizing: border-box;
} 

h1 {
  color: #F9F9F9;
  text-align:center;
}

/*specific to certain pieces of certain pages*/

div.lenore {
  background-image: url("../styles/images/eye.png");
  background-repeat: no-repeat;
  background-position: right;
}

h2.author {
  color: #F9F9F9;
  text-align: center;
}

h2.other {
  color: #F9F9F9;
  text-align: left;
}

/*let's fix that list so it's just slightly less unsightly*/

ul {
  list-style-image: url("../styles/images/raven.jpg");
  list-style-type: none;
  margin-left: 80px;
  padding: 0;
  width: 100px;
} 

li a {
  display: block;
  background-color: #d2c8b6;
}

li a:hover {
  background-color: #555;
  color: white;
}

/*this table is gonna drive me nuts*/

table, th, td {
  border: 8px outset #2d2d2d;
  text-align: center;
}

table {
border-collapse: collapse;
width: 25%
}

th, td {
padding: 4px;
border-bottom: 1px solid #ddd;
background-color: #d2c8b6;
}
